.product-card {
  .ant-card-actions {
    display: flex;

    li {
      display        : flex;
      align-items    : center;
      justify-content: center;
    }

    .anticon-star {
      font-size: 24px;
    }

    .product-card__buy-inputgroup {
      display        : flex;
      justify-content: center;

      .ant-input-number {
        width: 64px;
      }
    }
  }
}