.cart-list {
  position        : fixed;
  top             : 96px;
  right           : 64px;
  background-color: #fff;
  width           : 400px;
  padding         : 20px;
  border          : 1px solid;
  overflow-y      : scroll;
  bottom          : 32px;
}