@import '~antd/dist/antd.css';

.container {
  max-width: 1024px;
  margin   : 0 auto;
}

.header {
  height          : 64px;
  background-color: @primary-color;
  position: fixed;
  width: 100%;
  z-index: 100;

  .header-bar {
    .container();
    display    : flex;
    align-items: center;
  }

  .logo {
    flex-grow: 1;

    svg {
      max-height: 64px;
      max-width : 128px;
    }
  }

  .ant-badge {
    margin-left: 16px;
  }
}

.content {
  padding-top: 64px;

  .container();
}